@model Mvc.Models.ProfileViewModel

<div class="container" style="padding-top: 60px;">
    <h1 class="page-header">User's Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src=@Model.ImageUrl class="avatar img-circle img-responsive" alt="avatar">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>
            <hr/>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label">Last name:</label>
                    @Html.DisplayFor(m => m.FirstName , new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Last name:</label>
                    @Html.DisplayFor(m => m.LastName, new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Birthday:</label>
                    @Html.DisplayFor(m => m.Birthday, new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    @Html.DisplayFor(m => m.Email)
                </div>
                <div class="form-group">
                    <label class="control-label">Description:</label>
                    <div class="">
                        @Html.Bootstrap().TextAreaFor(m => m.Description).Value(@Model.Description).Class("form-control").Readonly(true)
                    </div>
                </div>
                @if (User.IsInRole("Programmist") && Model.Areas.Count()!=0)
                {
                    <div class="form-group" id="areas-div">
                        <label class="col-lg-3 control-label">Areas:</label>
                        <div class="areas col-lg-8 ">
                            <div class="containr" id="tags-container">
                                @foreach (var area in @Model.Areas)
                                {
                                    <div class="element">
                                        <span>@area</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
@Styles.Render("~/Content/areas")
@if (User.Identity.Name == Model.Email)
{
    @Html.ActionLink("Edit","Edit","Profile",new {id = Model.Id}, new { @class = "btn btn-success"})
}
@if (User.IsInRole("Administrator"))
{
    <span></span>
    @Html.ActionLink("Delete", "Delete", "User", new { id = Model.Id }, new { @class = "btn btn-danger" })
}