@model Mvc.Models.ProfileViewModel

<div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src=@Model.ImageUrl class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>
            <hr/>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label">Last name:</label>
                    @Html.DisplayFor(m => m.FirstName, new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Last name:</label>
                    @Html.DisplayFor(m => m.LastName, new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Birthday:</label>
                    @Html.DisplayFor(m => m.Birthday, new {@class = "form-control col-lg-8"})
                </div>
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    @Html.DisplayTextFor(m => m.Email)
                </div>
                <div class="form-group">
                    <label class="control-label">Description:</label>
                    <div class="">
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label ">Skills:</label>

                </div>
            </form>
        </div>
    </div>
</div>
@if (User.Identity.Name == Model.Email)
{
    @Html.RouteLink("Edit","Default",new {controller = "Profile", action = "Edit", id = Model.UserId})
}