
@model Mvc.Models.LogOnViewModel

@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>

@using (var f = Html.Bootstrap().Begin(new Form("Login", "User").RouteValues(new { ReturnUrl = ViewBag.ReturnUrl }).FormMethod(FormMethod.Post).Type(FormType.Horizontal)))
{
    <h4>Sign In</h4>
    <hr/>
    @Html.AntiForgeryToken()
    @Html.Bootstrap().ValidationSummary().Class("text-danger").ExcludePropertyErrors(true)
    @f.FormGroup().TextBoxFor(m => m.Email).Placeholder()
    @f.FormGroup().PasswordFor( m => m.Password).Placeholder()
    @f.FormGroup().CheckBoxFor(m => m.RememberMe)
    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("Sign in").Class("btn-success"))

}
