@using Mvc.Models;
@using reCAPTCHA.MVC;
@model Mvc.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
@using (var f = Html.Bootstrap().Begin(new Form("Register", "User")))
{
    <h4>Create a new account.</h4>
    <hr />
    @Html.AntiForgeryToken()
    @Html.Bootstrap().ValidationSummary().Class("text-danger").ExcludePropertyErrors(true)
    @f.FormGroup().TextBoxFor(x => x.Email).Placeholder("Enter email")
    @f.FormGroup().PasswordFor(x => x.Password).Placeholder()
    @f.FormGroup().PasswordFor(x => x.ConfirmPassword).Placeholder()
    @Html.HiddenFor(m => m.Role, new { @Value = Enum.GetNames(typeof(Role))[1] })
    @Html.Recaptcha()
    @Html.ValidationMessage("ReCaptcha")
    @f.FormGroup().CustomControls(@Html.Bootstrap().SubmitButton().Text("Register").Class("btn-success")) 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}